* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}

:root {
  --primary-colour: rgba(88, 219, 232, 1);
  --secondary-colour: rgba(24, 24, 24, 1);
  --white: rgba(255, 255, 255, 0.9);
  --transparent-bg: rgba(255, 255, 255, 0.2);
  --gradient: linear-gradient(270deg, #061237 0%, #58dbe8 136.35%);
  --xs: 576px;
  --small: 768px;
  --medium: 992px;
  --large: 1280px;
}

h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 120%;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
}

h3 {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
}

h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}

h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.9;
}

h6 {
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.7);
}

p {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
}

a {
  text-decoration: none;
}

.footer-links,
.nav-links {
  font-family: "Quicksand", sans-serif !important;
  font-weight: 400;
}

.footer-links {
  font-size: 20px;
  color: var(--white);
  background-color: var(--secondary-colour);
}

section {
  width: 100%;
  max-width: 100%;
  margin: auto;
}
section .container {
  max-width: 100%;
}
section nav,
section footer,
section .container {
  margin: auto;
  max-width: var(--large);
}
section nav div,
section footer div,
section .container div {
  max-width: 100%;
}
section nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  width: 100%;
  max-width: var(--large);
  height: 60px;
}
section nav .nav-container {
  display: flex;
}
section nav .menu {
  display: none;
}
section nav .menu span {
  display: block;
  width: 23px;
  height: 3.3px;
  background: var(--secondary-colour);
  margin: 3.5px;
  border-radius: 2px;
}
section nav div {
  max-width: 100%;
  margin-inline: 1rem;
}
section nav ul {
  display: flex;
  align-items: center;
  max-width: 100%;
}
section nav ul li {
  list-style-type: none;
  margin-inline: 0.5rem;
}
section nav ul li a {
  font-size: 15px;
  color: var(--secondary-colour);
  cursor: pointer;
}
section nav ul li img {
  cursor: pointer;
}
section nav ul .contact {
  border: 2px solid var(--secondary-colour);
  font-weight: 700;
  font-size: 16px;
  margin-left: 5rem;
  padding: 0.35rem 0.5rem;
}

.button {
  padding: 0.65rem 1rem;
  border-radius: 5px;
}

.primary-button {
  background-color: var(--primary-colour);
  color: var(--white);
}

.secondary-button {
  background-color: var(--secondary-colour);
  color: var(--white);
}

.flex-center-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-center-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-evenly-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.overflow-hidden {
  overflow: hidden;
}

.active-nav {
  background-color: white;
  height: 100vh;
  transition: all 0.25s ease-in-out;
}

.d-block {
  display: block !important;
}

.span-0-active {
  transform: rotate(-45deg) translate(-10px, 10px);
}

.span-1-active {
  transform: translate(-35px, 10px) rotate(180deg);
  opacity: 0;
}

.span-2-active {
  transform: rotate(45deg);
}

@keyframes slideEffect {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-4rem);
    opacity: 0;
  }
}
#hero {
  height: calc(100vh - 60px);
  width: 100%;
  background-image: url("../images/preparing-seminar.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 1000px 4px 200px 60px rgba(0, 0, 0, 0.65);
}
#hero .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
#hero .container .hero-text {
  margin: 2rem;
  width: 55%;
  color: white;
  margin-bottom: 2rem;
}
#hero .container .hero-text h3 {
  margin: 0.5rem 0 2rem 0;
  max-width: 80%;
}
#hero .container .hero-text span {
  color: var(--primary-colour);
}
#hero .container .hero-text a {
  font-weight: bold;
}
#hero .container .hero-stats {
  margin: 2rem;
  display: flex;
  color: white;
  margin-top: 4rem;
}
#hero .container .hero-stats div {
  text-align: center;
  max-width: 100%;
  margin-right: 2rem;
}
#hero .container .hero-stats div p,
#hero .container .hero-stats div h2 {
  text-align: left;
}

#about {
  min-height: 100vh;
}
#about .container {
  width: 100%;
}
#about .container .about-text a {
  color: var(--secondary-colour);
}
#about .container div {
  margin: 2rem 0;
  width: 45%;
}
#about .container div img {
  max-width: 100%;
}
#about .container div h2 {
  margin: 1rem 0;
}
#about .container div p {
  margin: 1rem 0;
}

#services {
  min-height: 100vh;
}
#services .container {
  width: 100%;
  padding: 1rem;
  position: relative;
  display: flex;
}
#services .container h2 {
  text-align: center;
  margin: 1.25rem 0;
}
#services .container .image-placeholder {
  min-height: 22rem;
  width: 100%;
  background-image: url("../images/preparing-seminar.jpg");
  background-repeat: no-repeat;
  border-radius: 1rem;
}
#services .container .card-container {
  margin-top: -4rem;
}
#services .container .card-container .card {
  background-color: white;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 25%;
  min-width: 260px;
  min-height: 28rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid #f2f2f2;
}
#services .container .card-container .card p {
  font-size: 16px;
  margin-top: 0.5rem;
}
#services .container .card-container .card i {
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--secondary-colour);
  color: var(--white);
  padding: 1rem;
  font-size: 2rem;
  border-radius: 0.5rem;
}
#services .container .card-container .card h4 {
  margin-top: 3rem;
}
#services .container .card-container .card ul {
  margin-left: 1.5rem;
  margin-top: 0.75rem;
}
#services .container .card-container .card ul li p {
  font-size: 14px;
}
#services .container .cta {
  margin: 4rem 0;
}
#services .container .cta a {
  margin: 1.5rem 0;
}

#team {
  min-height: 40vh;
  background: var(--gradient);
  color: var(--white);
}
#team .container {
  width: 100%;
}
#team .container span {
  height: 10px;
  width: 90px;
  background-color: var(--white);
  border-radius: 5px;
  margin-bottom: 2.5rem;
}
#team .container h2 {
  margin: 2rem 0 1rem 0;
}
#team .container .team-card-container {
  width: 100%;
  margin: 2.5rem 0;
}
#team .container .team-card-container .team-card {
  margin-inline: 1rem !important;
  padding: 0.95rem;
  min-width: 260px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  justify-content: flex-start !important;
}
#team .container .team-card-container .team-card div {
  display: flex;
  flex-direction: column;
}
#team .container .team-card-container .team-card div h5 {
  width: 100%;
}
#team .container .team-card-container .team-card div p {
  min-width: 100%;
}
#team .container .team-card-container .team-card img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 5px solid var(--primary-colour);
  margin-right: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}

#testimonials {
  margin-top: 3rem;
  min-height: 80vh;
}
#testimonials .container {
  max-width: var(--large);
  overflow: hidden;
  position: relative;
  max-width: var(--large);
}
#testimonials .container i {
  font-size: 1.75rem;
  color: #858585;
  margin: 0 3rem;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 5;
}
#testimonials .container .fa-chevron-left {
  position: absolute;
  top: 50%;
  left: 3%;
}
#testimonials .container .fa-chevron-right {
  position: absolute;
  top: 50%;
  right: 3%;
}
#testimonials .container .gesture {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.35rem 1rem;
  color: white;
  border-radius: 1rem;
  animation: 1.1s slideEffect both;
  animation-iteration-count: 2;
  transition: all 0.25s ease;
}
#testimonials .container div {
  margin: 1.5rem 0;
}
#testimonials .container div h2 {
  margin-bottom: 1rem;
}
#testimonials .container .testimonials-card-container {
  transition: all 0.25s ease;
  display: flex;
}
#testimonials .container .testimonials-card-container .testimonial-card {
  min-width: 100%;
}
#testimonials .container .testimonials-card-container .testimonial-card .user-profile {
  max-width: 20%;
  margin-right: 3rem;
}
#testimonials .container .testimonials-card-container .testimonial-card .user-profile .user-details {
  text-align: center;
}
#testimonials .container .testimonials-card-container .testimonial-card .user-profile img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  border: 8px solid var(--primary-colour);
}
#testimonials .container .testimonials-card-container .testimonial-text {
  position: relative;
  max-width: 38%;
}
#testimonials .container .testimonials-card-container .testimonial-text p {
  font-style: italic;
  line-height: 170%;
}
#testimonials .container .testimonials-card-container .testimonial-text .q-mark {
  font-family: "Bad Script", cursive;
  font-size: 4rem;
  color: var(--primary-colour);
  line-height: 0;
  position: absolute;
  transform: rotate(15deg);
}
#testimonials .container .testimonials-card-container .testimonial-text .mark-one {
  top: 1.75rem;
  left: -2.5rem;
}
#testimonials .container .testimonials-card-container .testimonial-text .mark-two {
  right: 0;
  bottom: -2rem;
}
#testimonials .container .indicators span {
  transition: all 0.5s ease;
  margin-inline: 2.5px;
  height: 4px;
  border-radius: 2px;
  width: 25px;
  background-color: #bbb;
  cursor: pointer;
}
#testimonials .container .indicators .active {
  background-color: var(--primary-colour);
}
#testimonials .container .h-line {
  margin: auto;
  width: 90%;
  height: 1.25px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

#contact {
  margin: 0 !important;
  padding: 0 !important;
  min-height: 90vh;
}
#contact .container {
  min-height: -moz-fit-content;
  min-height: fit-content;
  height: 100%;
}
#contact .container h2 {
  margin: 2rem 0 1rem 0;
}
#contact .container .form-map-container {
  height: 100%;
  min-height: 100%;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #e7e7e7;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  width: 80%;
}
#contact .container .form-map-container .form-container {
  max-width: 70%;
  margin-left: 3rem;
  margin-top: 2rem;
  height: 100%;
}
#contact .container .form-map-container .form-container .phone-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#contact .container .form-map-container .form-container .phone-section div {
  margin-top: -1rem;
  display: flex;
  align-items: center;
}
#contact .container .form-map-container .form-container .phone-section i {
  margin-right: 0.5rem;
}
#contact .container .form-map-container .form-container .phone-section a {
  font-weight: 300;
  padding-right: 0.5rem;
  color: var(--secondary-colour);
}
#contact .container .form-map-container .form-container .links a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem 0;
}
#contact .container .form-map-container .form-container .links a i {
  margin-right: 0.5rem;
}
#contact .container .form-map-container .form-container .links a i,
#contact .container .form-map-container .form-container .links a p {
  color: var(--secondary-colour);
}
#contact .container .form-map-container .form-container form {
  padding-block: 2rem 1rem;
}
#contact .container .form-map-container .form-container form ::-moz-placeholder {
  font-size: 14px;
}
#contact .container .form-map-container .form-container form ::placeholder {
  font-size: 14px;
}
#contact .container .form-map-container .form-container form button {
  border: none;
  cursor: pointer;
}
#contact .container .form-map-container .form-container form div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#contact .container .form-map-container .form-container form div p {
  opacity: 0.7;
}
#contact .container .form-map-container .form-container form div input,
#contact .container .form-map-container .form-container form div textarea {
  margin: 0.75rem 0;
  max-width: 90%;
  background: rgba(255, 255, 255, 0.8);
  border: 1.25px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 1rem;
  font-size: 16px;
}
#contact .container .form-map-container .form-container form div input {
  height: 1.35rem;
}
#contact .container .form-map-container .form-container form div textarea {
  min-height: 6rem;
}
#contact .container .form-map-container .map-container {
  overflow: hidden;
  width: 35%;
  height: 560px;
  min-height: 100%;
}
#contact .container .form-map-container .map-container iframe {
  width: 100%;
  height: 100%;
  border-radius: 0 10px 10px 0;
}

#back-top {
  margin-top: 1rem;
}
#back-top a {
  width: 50px;
  height: 50px;
  background-color: var(--primary-colour);
  border-radius: 100%;
  margin-bottom: 1rem;
}
#back-top a i {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.5rem;
}
#back-top h6 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 1rem;
}

#footer {
  background-color: var(--secondary-colour);
  color: var(--white);
  padding: 1rem 0;
}
#footer .container {
  max-width: 100%;
  display: flex;
  align-items: center;
}
#footer .container .footer-links-container ul {
  display: flex;
}
#footer .container .footer-links-container ul li {
  list-style-type: none;
  margin: 0 1rem;
}
#footer .container .footer-links-container ul li a {
  color: white;
}
#footer .container .footer-links-container ul li a :visited {
  color: white;
}
#footer .container .social-media-icons a i {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: white;
}
#footer .copyright {
  margin: 1rem 0;
}

@media (max-width: 1200px) {
  #services .card {
    min-height: 30rem !important;
  }
}
@media (max-width: 992px) {
  section {
    padding-top: 60px;
    margin-top: -60px;
  }
  #hero {
    margin-top: 60px;
  }
  section {
    margin-bottom: 60px !important;
  }
  section nav {
    z-index: 9;
    position: fixed;
    background-color: white;
    top: 0;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }
  section nav .menu {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
  section nav .menu span {
    pointer-events: none;
    transition: all 0.35s ease;
  }
  section nav .nav-container {
    display: none;
  }
  section nav .logo {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
  }
  section nav .nav-links {
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  section nav .nav-links .contact {
    margin-left: 0 !important;
  }
  section nav .nav-links li {
    margin-left: 0 !important;
    padding: 1rem 0;
  }
  #hero .container {
    max-width: 100%;
  }
  #hero .container .hero-text {
    width: 60%;
  }
  #services .container .image-placeholder {
    background-position: center left;
  }
  #services .container .card-container {
    flex-direction: column;
  }
  #services .container .card-container .card {
    max-width: 70% !important;
    min-height: auto !important;
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
  }
  #services .container .card-container :last-child {
    margin-bottom: 0;
  }
  #team .container .team-card-container {
    flex-wrap: wrap;
  }
  #team .container .team-card-container .team-card {
    margin-top: 2rem;
  }
  #team .container .team-card-container .team-card div {
    justify-content: flex-start;
    align-items: flex-start;
  }
  #contact {
    margin: 5rem 0;
    height: -moz-fit-content;
    height: fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  #contact .container .form-map-container {
    padding-top: 2rem;
    flex-direction: column !important;
    align-items: center;
  }
  #contact .container .form-map-container .form-container {
    margin-left: 0;
  }
  #contact .container .form-map-container .form-container .links {
    margin: 2.5rem 0;
  }
  #contact .container .form-map-container .map-container {
    min-width: 100%;
    height: 40%;
  }
  #contact .container .form-map-container .map-container iframe {
    border-radius: 0 0 10px 10px;
  }
  #footer {
    margin-bottom: -60px !important;
  }
  #footer p {
    text-align: center;
  }
  #back-top {
    margin-bottom: 6rem !important;
  }
}
@media (max-width: 880px) {
  #about .container {
    flex-direction: column-reverse;
  }
  #about .container div {
    width: 80%;
  }
}
@media (max-width: 768px) {
  h5 {
    width: 80%;
    text-align: center;
  }
  #hero .container {
    width: 100%;
    max-width: 100%;
  }
  #hero .container .hero-text {
    width: 82%;
    max-width: 82%;
    max-width: 90%;
  }
  #hero .container .hero-text h1 {
    font-size: 2.5rem;
  }
  #hero .container .hero-text h3 {
    font-size: 1.25rem;
  }
  #hero .container .hero-stats {
    max-width: 90%;
    margin-left: 2rem;
  }
  #hero .container .hero-stats h2 {
    font-size: 1.5rem;
  }
  #team .container .team-card {
    width: 60%;
    margin-inline: 0 !important;
  }
  #team .container h5 {
    text-align: left !important;
  }
  #team .container p {
    max-width: 80%;
    text-align: left !important;
  }
  #testimonials {
    height: -moz-fit-content;
    height: fit-content;
    max-width: 100%;
  }
  #testimonials .container {
    position: relative;
    width: 100%;
  }
  #testimonials .container .fa-chevron-left,
  #testimonials .container .fa-chevron-right {
    top: 83%;
    padding: 4px 8px;
    border-radius: 50%;
    font-size: 1.5rem;
  }
  #testimonials .container .testimonials-card-container .testimonial-card {
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
  }
  #testimonials .container .testimonials-card-container .testimonial-card .user-profile {
    margin-right: 0;
    text-align: left;
    flex-direction: row !important;
    min-width: 100%;
  }
  #testimonials .container .testimonials-card-container .testimonial-card .user-profile .user-details {
    padding-top: 2rem;
    margin-top: 0;
    text-align: left;
  }
  #testimonials .container .testimonials-card-container .testimonial-card .user-profile h5 {
    width: 100%;
  }
  #testimonials .container .testimonials-card-container .testimonial-card .user-profile img {
    margin-right: 1rem;
    width: 80px;
    height: 80px;
    border: 4px solid var(--primary-colour);
  }
  #testimonials .container .testimonials-card-container .testimonial-card .testimonial-text {
    max-width: 80%;
    margin-top: 0;
  }
  #testimonials .container .testimonials-card-container .testimonial-card .testimonial-text .q-mark {
    font-size: 3rem;
  }
  #services {
    margin: 0;
  }
  #services .container .card-container .card {
    max-width: 90% !important;
  }
  #contact {
    padding-top: 60px !important;
    margin-top: -60px !important;
    margin-bottom: 7.5rem;
  }
  #contact .container .form-map-container {
    width: 95%;
    padding-top: 2rem;
    flex-direction: column !important;
    align-items: center;
  }
  #contact .container .form-map-container .form-container {
    max-width: 80%;
    margin-left: 0;
  }
  #contact .container .form-map-container .form-container form {
    width: 100%;
  }
  #contact .container .form-map-container .form-container .links {
    margin: 2.5rem 0;
  }
  #contact .container .form-map-container .map-container {
    min-width: 100%;
    height: 30vh;
  }
  #contact .container .form-map-container .map-container iframe {
    border-radius: 0 0 10px 10px;
  }
  #footer .container {
    flex-direction: column;
  }
  #footer .container div {
    margin: 2rem 0;
  }
  #footer .container div img {
    width: 150px;
  }
  #footer .container .footer-links-container {
    margin: 0;
  }
  #footer .container .footer-links-container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #footer .container .footer-links-container ul li {
    margin: 1rem 0;
  }
}
@media (max-width: 560px) {
  #team .container .team-card {
    width: 80%;
  }
}
@media (max-width: 300px) {
  #hero .hero-stats {
    display: none !important;
  }
}/*# sourceMappingURL=style.css.map */